<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <div style="background-color:MediumSeaGreen;" class="jumbotron">
          <h1 class="text-center">UF Directory App</h1>
        </div>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="jumbotron" style="background-color:MediumSeaGreen;">
            <div class="input-group" id="searchBar">
              <!-- 

                  Implement a way to filter through listings using the search bar 

                -->
              <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" ng-click="updateFilter($index)"></span></span>
              <input type="text" class="form-control" ng-model ="searchBar">
            </div>
            <div class="tableWrapper">
              <table class="table table-hover table-bordered" style="background-color:white;">
                <tr>
                  <th>Code</th>
                  <th>Building Name</th>
                  <th></th>
                </tr>
                <tr ng-repeat="listing in listings | filter:query">
                    <td ng-click="showDetails(listing)">{{listing.code}}</td>
                    <td ng-click="showDetails(listing)">{{listing.name}}</td>
                    <td>
                      <button type="button" class="btn btn-default btn-xs" ng-click="deleteListing(listing)">Delete
                      </button>
                    </td>
                </tr>
                
              </table>
            </div>
            <!-- 

                Write an HTML form that adds new listings to the directory 

              -->
            <!-- <form>
              <input type="text" ng-model="newListing.code">
              <input type="text" ng-model="newListing.name">
              <input type="text" ng-model="newListing.address">
              <button type="button" class="btn btn-default" ng-click="addListing()">Add Listing</button> -->
            
            <div class="row">
              <div class="col-md-4">&nbsp</div>
            </div>
              <form>
                <div class="form-group">
                  <label>Code</label>
                  <input class="form-control" ng-model="newListing.code">
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <input class="form-control" ng-model="newListing.name">
                </div>
                <div class="form-group">
                  <label>Latitude</label>
                  <input class="form-control" ng-model="newListing.coordinates.latitude">
                </div>
                <div class="form-group">
                  <label>Longitude</label>
                  <input class="form-control" ng-model="newListing.coordinates.longitude">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input class="form-control" ng-model="newListing.address">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addListing()">Add Listing</button>
              </form>

            <!-- </form> -->
          </div>  
        </div>
        <div class="col-md-6">
          <div class="jumbotron" style="background-color:MediumSeaGreen;">
            <h2>Detailed Information</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
            <table class="table table-condensed" style="background-color:white;">
              <tr>
                <td>Code:</td>
                <td>{{detailedInfo.code}}</td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>{{detailedInfo.name}}</td>
              </tr>
              <tr>
                <td>Latitude:</td>
                <td>{{detailedInfo.coordinates.latitude}}</td>
              </tr>
              <tr>
                <td>Longitude:</td>
                <td>{{detailedInfo.coordinates.longitude}}</td>
              </tr>
              <tr>
                <td>Address:</td>
                <td>{{detailedInfo.address}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>